<section>
  <%- @series.each do |s| %>
  <div class="col-md-12">
    <h2><%= link_to(s.name, controller: "series", action: "show", id: s) %></h2>
    <p><%- concat s.air_date %></p>
  </div>
  <% end %>
</section>
